html,body{
	margin: 0%;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}


/* CSS varijable */

:root{
	--primary-color: #4458dc;
	--primary2-color: #0A247B;
	--title-color: #141313;
	--text-color: #777777;
	--border-color: #201f1f17;
	--gradient-color: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
	--shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
	--box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


	/* font family varijable */
	--roboto: 'Roboto',cursive;
}

